@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body { 
    display: flex;
    flex-direction: column;
}

.section-one {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 25px 225px;
    

}

.header {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex: 1;
    max-width: 400px;
    gap: 10px;
    
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
}

.hero-secondary {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
    gap: 10px
}

.hero-container2 {
    display: flex;
    
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    font-weight: 100;

}

.sign1 {
    background: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    font-size: 16px;
    height: 35px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px;
}

.section-two {
    background-color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 225px;
    align-items: center;
}

.info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.img-container {
    display: flex; 
    padding: 40px;
    justify-content: center;
    align-items: center;
}

.info {
    border-radius: 10px;
    border: 3px solid #3882f6;
    height: 150px;
    width: 150px;
    margin: 0 20px 0 20px;
}

.img-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 25px;
    font-weight: 100;
    color: grey;
    justify-content: center;
}

.section-three {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.caption {
    display: flex;
    align-items: flex-end;
}

.section-four {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    display: flex;
    border-radius: 8px;
    height: 125px;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    flex: 1;
    color: white;
    padding: 0 150px;
}

.modal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    font-size: 24px;
    font-weight: 800;
    gap: 3px;
}

.modal-secondary {
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
}

button.sign2 {
    background: #3882f6;
    color: #f9faf8;
    border: 2px solid white;
    font-weight: 800;
    font-size: 16px;
    height: 35px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
